
.App{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background: #232323;
}

.clickedAbout {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  border: 1px red solid;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 20;
 
  display: block;
}

.notClicked {
  display: none;
}

.clickedStats {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  border: 1px red solid;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 20;
  
  display: block;
}